* {
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
    width: 100%;    
    font-size: 16px;
}

@media screen and (max-width: 768px) {
    html {
      font-size: 8px; /* Beispiel: Reduziere die Schriftgröße für kleinere Bildschirme */
    }
}

body {
    margin: 0;
    padding: 0 1.5rem 3rem 1.5rem;
    background-color: rgb(255, 255, 255);
}

h1 {
    font-size: 4rem;
    color: #253347;
}

h2 {
    font-size: 3rem;
    color: #253347;
}

h3 {
    font-size: 1.5rem;
    color: #253347;
}

p {
    font-size: 1rem;
    color: #5E6E85;
}

span {
    font-weight: bold;
}

label {
    color: #5E6E85;
}

input {
    border: none;  
    font-size: 1.5rem;
    font-weight: bold;  
    color: rgba(37, 51, 71, 1);
}

input:focus {
    border: none;
    outline: none; /* Um die Standard-Fokus-Rahmen zu entfernen */
}

/*first section*/

.first-section {
    height: 42rem;
}

.game-icon {
    height: 4rem;
    width: 4rem;
    position: relative;
    top: 3rem;
    left: 7.25rem;
}

.rectangle-6 {
    position: relative;
    width: 64rem;
    height: 40rem;
    top: 0;
    border-radius: 0 0 2rem 2rem;
    background: linear-gradient(to bottom left, rgb(213.73, 229.81, 253.94) 0%, rgba(213.73, 251.53, 253.94, 0) 100%);
    border-bottom-right-radius: 2rem;
}

.rectangle-6 h1 {
    margin-top: 9rem;
    margin-left: 7.25rem;
    margin-bottom: 2rem;
    margin-right: 3.125rem;
}

.rectangle-6 p {
    margin-top: 0;
    margin-left: 7.25rem;
}

.frame-6 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 35.25rem;
    gap: 2rem;
    padding: 2rem;
    position: relative;
    background-color: white;
    border-radius: 1rem;
    top: -35rem;
    left: 46rem;
    z-index: 2;
    box-shadow: 0.125rem 0.125rem 0.3125rem rgba(0, 0, 0, 0.3);
}

.frame-6 h3 {
    grid-column: span 2;
    margin: 0;
}

button.metric-imperial{
    border-radius: 50%;
    border: 0.0625rem solid;    
    border-color: #D8E2E7;
    width: 2rem;
    height: 2rem;
    background-color: #FFFFFF;
    cursor: pointer;
}

button.metric-imperial:active {
    background-color: blue;
    border: 0.5rem solid #D8E2E7;  
    border-radius: 50% !important;  
}


.metric p {
    padding-left: 1.125rem;
    font-weight: bold;
    font-size: 1rem;
    color: #253347;
}

.metric {
    display: flex;
    align-items: center;
}

.input-infos {
    font-weight: bold;
    border: 0.0625rem solid rgba(216, 226, 231);
    border-radius: 0.625rem;
    padding: 1.25rem 1.5rem;
    margin-top: 0.5rem;
    color: rgba(52, 95, 246, 1);
    font-size: 1.5rem;
    display: flex;
}

.input-infos h3 {
    color: rgba(52, 95, 246, 1);
    text-align: end;
}

.frame-1 {
    grid-column: span 2;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    padding: 0.5rem;
    background: linear-gradient(180deg, rgb(52.38, 95.09, 246.5) 0%, rgb(88.19, 124.89, 255) 100%);
    align-items: center;
    border-top-left-radius: 1.25rem;
    border-bottom-left-radius: 1.25rem;
    border-top-right-radius: 6.25rem;
    border-bottom-right-radius: 6.25rem;
}

.frame-1 h1 {
    color: white;
    padding-left: 2rem;
}

.frame-1 p {
    color: white;
    padding-left: 2rem;
}

p.suggest {
    padding-left: 0;
}

.BMI {
    padding: 0;
    margin: 0;
}

/*image Curve */

.curve {
    width: 5rem;
    position: absolute;
    top: 40rem;
    left: 73rem;
}

/*second section*/

.second-section {
    display: flex;
    flex-direction: row;
}

img.rectangle-8 {
    width: 35.25rem;
    margin-left: 8rem;
}

.meaning {
    width: 32rem;
    margin-left: 4rem;
    padding-top: 9rem;
}
/*third section*/

.third-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10rem 2rem 8rem 2rem;
    background: linear-gradient(270deg, rgb(213.73, 229.81, 253.94) 0%, rgba(213.73, 251.53, 253.94, 0) 40%);
    border-radius: 2rem;
    margin-top: 5rem;
    margin-bottom: 1rem;
}

.icon-1 {
    width: 3rem;
    height: 3rem;
}

.tipps {
    width: 23.5rem;
}

.tipps:not(:last-child) {
    padding-right: 2rem;
}

/*fourth section*/

.fourth-section {
    display: flex;
    flex-direction: column;
    padding: 2rem 6rem; /* Platz oben und unten, links und rechts */
    height: 100vh; /* Volle Höhe des Viewports */
}

.frame-34 {
    width: 35.25rem;
}

.frame-34 p {
    margin: 0;
}

.icon-2 {
    width: 2rem;
    height: 2rem;
}

.frame-7 {
    width: 23rem;
    box-shadow: 1rem 1.3rem 1rem 0.2rem rgba(37, 51, 71, 0.2);
    border-radius: 1rem;
    padding: 1.5rem;
}

.icon-2-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.icon-2-container h3 {
    margin-left: 1rem;
    font-size: 1.25rem;
}

.frame-7 p {
    margin: 0;
}

.frame-7-1 {
    margin-left: 41rem;
    margin-top: -11rem;
}

.age-muscle {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 22rem;
    padding-top: 1rem;
}

.frame-7-3 {
    margin-left: 2rem;
}

.pregnancy-race {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 10rem;
    padding-top: 1rem;
}

.frame-7-5 {
    margin-left: 2rem;
}

.curve-2 {
    width: 5rem;
    position: relative;
    top: -25rem;
    left: 12rem;
}



/*
.fourth-section {
    justify-content: center;
    align-items: center;
    padding-left: 6rem;
    padding-right: 2rem;
}

.frame-34 {
    width: 35.25rem;
}

.frame-34 p {
    margin: 0;
}

.icon-2 {
    width: 2rem;
    height: 2rem;
}

.frame-7 {
    width: 23rem;
    box-shadow: 1rem 1.3rem 1rem 0.2rem rgba(37, 51, 71, 0.2);
    border-radius: 1rem;
    padding: 1.5rem;
}

.icon-2-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.icon-2-container h3 {
    margin-left: 1rem;
    font-size: 1.25rem;
}

.frame-7 p {
    margin: 0;
}

.frame-7-1 {
    margin-left: 39rem;
    margin-top: -11rem;
}

.age-muscle {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 20rem;
    padding-top: 1rem;
}

.frame-7-3 {
    margin-left: 2rem;
}

.pregnancy-race {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 7rem;
    padding-top: 1rem;
}

.frame-7-5 {
    margin-left: 2rem;
}

.curve-2 {
    width: 5rem;
    position: relative;
    top: -25rem;
    left: 12rem;
}*/